<section class="landing-page">
    <div class="wrapper">
        <div class="text-white d-flex flex-column justify-content-center align-items-center text-center p-3 h-100">
            <p class="h4">Welcome to <strong>Buddies Basket</strong></p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptatibus dicta impedit dolore dolorem explicabo aperiam natus obcaecati quae, ducimus sapiente cum nihil doloremque numquam quo at, deleniti laboriosam repellendus!</p>
        <a routerLink="/products/men" class="btn btn-primary btn-sm">Shop Now</a>
        </div>
    </div>
</section>
