<section class="p-3 bg-section text-white">
   <div class="container">
    <p class="h3">
        <i class="fa fa-user-cog"></i> Register</p>
   </div>
</section>
<section class="p-3">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 m-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <p class="h4">Register</p>
                    </div>
                    <div class="card-body bg-basket">
                        <form>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="form-group mb-3">
                                <input type="submit" class="btn btn-primary btn-sm" value="Login">
                            </div>
                            <div>
                                <small>New to Buddies Basket? 
                                    <a routerLink="/users/login" class="text-primary fw-bold">Login</a>
                               </small>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center bg-primary">
                        <img src="../../../../assets/Img/Icon 2.png" alt="" width="180" height="40">
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 300px;"></div>
    </div>
</section>