<section class="p-3 bg-section text-white">
    <div class="container">
     <p class="h3">
        <i class="fa-solid fa-person-dress fa-xl"></i> Womens Wear</p>
    </div>
 </section>
 <section class="p-3">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-white">
                        <img src="../../../../assets/Womens Wear/Women 1.jpg" alt="" height="200" width="200">
                    </div>
                    <div class="card-body bg-basket">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="h5">Mens Fit Shirt 1</p>
                                <p class="h5">&#8377; 999</p>
                                <button class="btn btn-primary btn-sm">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-white">
                        <img src="../../../../assets/Womens Wear/Women 2.jpg" alt="" height="200" width="200">
                    </div>
                    <div class="card-body bg-basket">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="h5">Mens Fit Shirt 2</p>
                                <p class="h5">&#8377; 999</p>
                                <button class="btn btn-primary btn-sm">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-white">
                        <img src="../../../../assets/Womens Wear/Women 3.jpg" alt="" height="200" width="200">
                    </div>
                    <div class="card-body bg-basket">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="h5">Mens Fit Shirt 3</p>
                                <p class="h5">&#8377; 999</p>
                                <button class="btn btn-primary btn-sm">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-white">
                        <img src="../../../../assets/Womens Wear/Women 4.jpg" alt="" height="200" width="200">
                    </div>
                    <div class="card-body bg-basket">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="h5">Mens Fit Shirt 4</p>
                                <p class="h5">&#8377; 999</p>
                                <button class="btn btn-primary btn-sm">Add to Cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>